@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: hsl(0, 0%, 8%);
    color: white;
}

.main-block {   

    .bio {

    border-radius: 15px;
    margin: 250px auto;
    text-align: center;
    height: 600px;
    width: 300px;
    background-color: hsl(0, 0%, 12%);
    
    .my-photo, .name, .city, .position, .social, .social-site {
        margin: 20px 0;
        background-color: hsl(0, 0%, 12%);
        transition: transform .5s;
    }

    .my-photo {
            margin: 30px 0 0 0;
            
            &:hover {
                transform: scale(1.1);
            }
    }
    
    .name {
        font-weight: 700;
        font-size: 20px;

        &:hover {
            color: hsl(75, 94%, 57%);
        }
    }
    
    .city {
        font-weight: 600;
        color: hsl(75, 94%, 57%);

        &:hover {
            color: hsl(177, 28%, 43%);
        }
    }

    .position {
        font-weight: 300;
        transition: transform .15s;

        &:hover {
            font-weight: 700;
            color: hsl(75, 94%, 57%);
        }
    }

    .social {
        margin: 30px 0;

        .social-site {
            background-color: hsl(0, 0%, 20%);
            list-style-type: none;
            border-radius: 5px;
            margin: 10px 30px;
            padding: 15px 0;

            &:hover {
                transform: scale(1.1);
            }
        }

        li.social-site > a {
            background-color: hsl(0, 0%, 20%);
            text-decoration: none;
            font-weight: 700;

            &:hover {
                color: hsl(75, 94%, 57%);
            }
        }
    }
  }
}